@page "/restaurants"
@using FoodStoreMarket.Client.Components
@using FoodStoreMarket.Shared.Models.Restaurants.Queries.GetAllRestaurants
@inject HttpClient Http

<h1>List of restaurants</h1>
<a href="addRestaurant">Add new restaurant</a>
<AuthorizeView Policy="admin">
    <RestaurantsTable RestaurantsVm="@restaurants"></RestaurantsTable>
</AuthorizeView>



@code {
    private RestaurantsVm restaurants;

    protected override async Task OnInitializedAsync()
    {
        restaurants = await Http.GetFromJsonAsync<RestaurantsVm>("https://localhost:44376/api/restaurants");
    }
}
